  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who We Are</h5>
          <p class="grey-text text-lighten-4">EmoMe gives you a quick graphical analysis of your interviewees emotions throughout the interview, helping improve hiring and getting better talent easier.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="#">Abhishek Verma, Akash Jain, Shivu</a>
      </div>
    </div>

  </footer>