<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>EmoMe</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="{{url_for('static', filename='css/style.css')}}">
  <link href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>

  {% include 'header.html' %}

    <div class="section">

    </div>


  <div id="container">
    <div style = "text-align:center;">
        <h3>EmoMe Demo</h3>
        <video controls autoplay width="640" height="340" style="background: black"></video><br>
        <a id="rec" onclick="onBtnRecordClicked()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
        <a id="pauseRes"   onclick="onPauseResumeClicked()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">pause</i></a>
        <a id="stop"  onclick="onBtnStopClicked()"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">stop</i></a>
     </div>
    <a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
    <div class="container center">
      <a class="waves-effect waves-light btn charButton" style="visibility: hidden;" onClick="redirectToCharts()"><i class="material-icons left">insert_chart</i>Render Charts</a>
      <p>LOGS</p>
      <p id="data"></p>
    </div>
  </div>

  {% include 'footer.html' %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="{{url_for('static', filename='js/init.js')}}"></script>

  </body>
</html>
