<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>EmoMe</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="{{url_for('static', filename='css/main.css')}}">
  <link href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

  {% include 'header.html' %}

  <div id="container">
    <div style = "text-align:center;">
        <h3>EmoMe Demo</h3>
        <video controls autoplay width="640" height="340" style="background: black"></video><br>
        <a id="rec" onclick="onBtnRecordClicked()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
        <a id="pauseRes"   onclick="onPauseResumeClicked()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">pause</i></a>
        <a id="stop"  onclick="onBtnStopClicked()"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">stop</i></a>
        <a id="downloadLink"  class="btn-floating btn-large waves-effect waves-light red" download="mediarecorder.webm" name="mediarecorder.webm" href ><i class="material-icons">play_for_work</i></a>
     </div>

    <br/>

    <div class="container center">
      <a class="waves-effect waves-light btn charButton" style="visibility: hidden;" onClick="redirectToCharts()"><i class="material-icons left">insert_chart</i>Render Charts</a>
      <p>LOGS</p>
      <p id="data"></p>
    </div>
  </div>





  <div id="loadModal" class="modal white" style="width: 40%; height: 40%;background-color: #eeeeee">
    <div class="modal-content">
      <br/>
      <div class="center row">
        <img src="{{url_for('static', filename='load.gif')}}" style="background-color: white">
      </div>
      <br/>
      <h5 class="center" style="color: teal">RENDERING YOUR GRAPHS</h5>
    </div>
  </div>

  {% include 'footer.html' %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="{{url_for('static', filename='js/init.js')}}"></script>
  <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
  </script>
  </body>
</html>
